h2, h3 {
    color: rgb(250, 3, 250);
}

a {
    color: rgba(0, 253, 0, 1);
}

a:hover {
    color: rgb(250, 3, 250);
    text-decoration: none;
}

textarea {
    min-height: 400px;
}

#reply_btn {
    margin-right: 2%;
}

#compose-body {
    margin-bottom: 2%;
}

.list-group-item.list-group-item-action {
    border: 1px solid rgba(100, 255, 100, 1);
}